.banner {
  padding: 20px 0;
  display: none;
  text-align: center;
  width: 100%;
}
.banner h3 {
  margin: 0 0;
  display: inline-block;
  color: #fff;
  line-height: 1;
  font-family: "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
}
.banner a {
  margin-top: -10px;
  display: inline-block;
}
.banner.banner--clone {
  background: #364347;
  display: block;
}

section {
  margin: 80px 0;
}
section#partners {
  margin-top: 50px;
}

.jumbotron.squeeze {
  padding: 80px 30px;
  background: #02baf2 url("../images/cityscape.png") no-repeat center bottom;
  background-blend-mode: multiply;
  -webkit-background-size: contain;
  background-size: contain;
}
.jumbotron.squeeze h1, .jumbotron.squeeze .h1 {
  font-size: 56px;
  line-height: 1.2;
  color: #FDEE00;
}
.jumbotron.squeeze .tagline {
  color: #fff;
}
.jumbotron .btn {
  margin-top: 10px;
}

.tile.thumbs {
  border-radius: 0;
  padding: 0;
}
.tile.thumbs h3 {
  margin-top: 12px;
  color: #1976d2;
}
