.navbar.navbar-colored-after {
  border: none;
}

.btn-embossed.btn-danger {
  -webkit-box-shadow: 0 3px #C00 !important;
  box-shadow: 0 3px #C00 !important;
}

.navbar-white {
  border-bottom: 1px solid #e7e7e7;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 60px;
  height: 60px;
  overflow: hidden;
}
.navbar-white .navbar-white {
  background: #fff;
}
.navbar-white .navbar-brand {
  padding: 0;
  margin: 0;
}
.navbar-white .navbar-right {
  margin: 11px 0;
}
.navbar-white .navbar-nav {
  text-transform: uppercase;
  font-family: "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
}
.navbar-white .navbar-nav a {
  color: #455a64;
}

.jumbotron {
  margin-bottom: 0;
  padding: 0;
}
.jumbotron h1, .jumbotron .h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "brandon-grotesque-black", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 25px;
}
.jumbotron h2.tagline {
  font-size: 24px;
}
.jumbotron .headline {
  text-align: center;
}
.jumbotron.hero {
  padding: 50px 30px;
  background: #f5fcf9 url("../images/cityscape.png") no-repeat center bottom;
  -webkit-background-size: contain;
  background-size: contain;
  min-height: 600px;
}
.jumbotron.hero h1, .jumbotron.hero .h1 {
  color: #455a64;
}

.media-list {
  margin: 30px 0;
}
.media-list .thumbnail {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 15px 20px;
  border: 2px solid #ddd;
}
.media-list .thumbnail:hover {
  border-color: #2ccd96;
  transform: scale(1.05);
  background: #fffdee;
}
.media-list .thumbnail h3 {
  color: #455a64;
  font-family: "brandon-grotesque-black", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.media-list .thumbnail p {
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.3;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.img-center {
  margin: 0 auto;
}

.notify {
  padding: 15px 0;
  background-color: #b2c6cd;
}
.notify.notify-info {
  background-color: #02baf2 !important;
}
.notify p {
  font-family: "brandon-grotesque-regular", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #009dcd;
  margin-bottom: 0;
}

.notify-credit {
  background: #0091FF !important;
}
.notify-credit a {
  margin-top: -8px;
}
.notify-credit p {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "brandon-grotesque-black", Helvetica, Arial, sans-serif;
  color: #FDEE00;
}

.label {
  text-transform: uppercase;
  font-weight: normal;
  font-family: "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
}

.tagline {
  color: #607d8b;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
}

section {
  margin: 50px 0;
}
section.nospace {
  margin: 0 0;
}
section .title {
  margin: 0px 0 50px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

blockquote {
  font-style: italic;
  margin: 0;
  padding: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  border-left: none;
}
blockquote p {
  line-height: 1.7;
}
blockquote footer {
  background: transparent;
  padding: 5px 0;
  font-style: normal;
  color: #364347;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
}
blockquote.small:before, blockquote footer:before, blockquote small:before {
  content: "";
}

dl {
  margin-bottom: 0;
}
dl dt {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 26px;
  font-family: "brandon-grotesque-medium", Helvetica, Arial, sans-serif;
}
dl dd {
  line-height: 1.5;
  margin-bottom: 30px;
}
dl dd:last-of-type {
  margin-bottom: 0;
}

#testimonials blockquote {
  margin-top: 80px;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2292px 0;
  }
}
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2292px 0;
  }
}
@-ms-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2292px 0;
  }
}
@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2292px 0;
  }
}
.partners-roll {
  margin: 0 auto;
  background: url("../images/partners.jpg");
  height: 74px;
  -moz-transition: background-position 0.5s ease-out;
  -o-transition: background-position 0.5s ease-out;
  -webkit-transition: background-position 0.5s ease-out;
  -ms-transition: background-position 0.5s ease-out;
  animation: animatedBackground 50s linear infinite;
  -ms-animation: animatedBackground 50s linear infinite;
  -moz-animation: animatedBackground 50s linear infinite;
  -webkit-animation: animatedBackground 50s linear infinite;
}

footer {
  font-family: "brandon-grotesque-regular", Helvetica, Arial, sans-serif;
  background: #2ccd96;
  padding: 50px 0;
}
footer h5 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
  margin: 0 0 5px 0;
}
footer address {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 15px;
}

.footer-thin {
  margin-top: 15px;
}
.footer-thin ul.footer-links {
  margin-top: 8px;
  margin-bottom: 0;
}
.footer-thin ul.footer-links a {
  color: #fff;
}

@media (min-width: 768px) {
  .navbar-footer > .container-fluid .navbar-brand {
    margin-left: 0;
  }

  .container.narrow {
    max-width: 960px;
  }

  .navbar-nav > li > a {
    padding: 20px;
  }
  .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
    background-color: #FFF;
  }
}
